:root {
  --coolor1: #ffffff;
  --coolor2: #f7f7f7;
  --coolor3: #eaeaea;
  --coolor4: #d0d0d0;
  --coolor5: #cecece;
  --coolor6: #bdbdbd;
  --coolor7: #aeaeae;
  --coolor8: #9e9e9e;
  --coolor9: #8f8f8f;
  --coolor10: #7f7f7f;
  --coolor11: #6e6e6e;
  --coolor12: #5d5d5d;
  --coolor13: #4f4f4f;
  --coolor14: #2f2f2f;
  --coolor15: #161616;
  --coolor16: #000000;
  --coolor17: #9d1d28;
  --coolor18: #f11d2e;
  --coolor19: #cf1120;
  --coolor20: #ed0014;
}


#html {
  background: var(--coolor1);
}

#app,
#root {
  min-height: 100vh;
  margin: 0 auto;
  width: 100vw;
  background: var(--coolor1);
  background: linear-gradient(90deg, var(--coolor1) 0%, var(--coolor2) 25%, var(--coolor3) 50%, var(--coolor2) 75%, var(--coolor1) 100%);
}

.ant-layout {
  background: var(--coolor2);
}

#body {
  padding: 45px 1vw;
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}

h1,
h2,
h4,
h3,
h5,
h6,
p,
label,
textarea,
li,
div,
input {
  color: var(--coolor16);
}

.trigger {
  color: var(--coolor16);
}

/* text */
::placeholder {
  color: var(--coolor15) !important;
}

/* butotns */
.ant-btn-primary {
  color: #fff;
  background-color: var(--coolor20);
  box-shadow: 0 2px 0 rgb(5 145 255 / 10%);
}

.ant-btn-link {
  color: var(--coolor20);
}

/* calendar */
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: var(--coolor19) !important;
  outline: none !important;
  box-shadow: none !important;
}

.ant-picker-focused,
.ant-picker:hover {
  border-color: var(--coolor19) !important;
  outline: none !important;
  box-shadow: none !important;
}

.ant-input-number-affix-wrapper:focus,
.ant-input-number-affix-wrapper-focused,
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
.ant-input-number-affix-wrapper:not(.ant-input-number-affix-wrapper-disabled):hover,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: var(--coolor19);
  outline: none !important;
  box-shadow: none !important;
}

.ant-input-affix-wrapper {
  position: relative;
  display: inline-flex;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  background-color: var(--coolor1);
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: var(--coolor5);
  border-radius: 6px;
  transition: all 0.2s;
}

.ant-input-number-input-wrap {
  border: none !important;
}

/* switch */
.greenRed {
  background-color: #510000 !important;
}

.greenRed:hover {
  background-color: #f61313 !important;
}

.ant-switch.ant-switch-checked {
  background-color: #00b77d !important;
}

.ant-switch.ant-switch-checked:hover {
  background-color: #00de98 !important;
}

/* .ant-switch.ant-switch-checked:hover>span>span {
  color: #404040 !important;
} */

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  color: var(--coolor16);
}

.ant-dropdown .ant-table-filter-dropdown {
  background-color: var(--coolor1);
  padding: 15px;
}

.ant-picker-dropdown .ant-picker-content th {
  color: var(--coolor16);
  font-weight: bold;
}

.ant-picker-dropdown .ant-picker-today-btn {
  color: var(--coolor20);
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid var(--coolor20);
}

.ant-picker-dropdown .ant-picker-header button {
  padding: 0;
  color: var(--coolor16);
  opacity: 0.8;
}

.ant-picker-dropdown .ant-picker-header>button:hover {
  opacity: 1;
  color: var(--coolor16);
}

.ant-picker .ant-picker-input>input {
  color: var(--coolor16);
}

.ant-picker-dropdown .ant-picker-panel-container {
  overflow: hidden;
  vertical-align: top;
  background: var(--coolor4);
}

.ant-picker,
.ant-input-number-affix-wrapper,
.ant-picker-panel-container {
  width: 100%;
  border-radius: 0px !important;
  border-color: var(--coolor5);
  background: var(--coolor1);
  border: 1px solid var(--coolor5);
  color: var(--coolor16);
}

.ant-input-affix-wrapper {
  border-radius: 0px !important;
}

input:not(.ant-input) {
  height: 40px;
  border: 1px solid #e1e1e1;
  padding: 0 15px;
  width: 100%;
  outline: none;
}

/* ḃuttons */
.ant-btn-default {
  background-color: var(--coolor19);
  opacity: 1;
  color: white !important;
  border-radius: 0;
  border: 1px solid var(--coolor20) !important;
}

.ant-btn-default:hover {
  background-color: var(--coolor20);
  opacity: 1;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.buttons-container>* {
  margin-left: 15px;
}

.ant-btn-default:disabled {
  background-color: var(--coolor19);
  opacity: 0.3;

}

.ant-btn-default:focus {
  outline: 1px solid var(--coolor20);
}

/* tabs */
.ant-tabs-tab-btn {
  color: var(--coolor16);
  text-shadow: 0 0 0.25px currentcolor;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--coolor16);
  ;
  text-shadow: 0 0 0.25px currentcolor;
}

.ant-tabs .ant-tabs-ink-bar {
  position: absolute;
  background: var(--coolor20);
  ;
  height: 5px;
  width: 5px;
  pointer-events: none;
}

.ant-tabs-tab:not(.ant-tabs-tab-active)>div {
  color: var(--coolor11);
}

/* inputs */
.ant-input {
  background-color: var(--coolor1);
  border: 1px solid var(--coolor5);
  border-radius: 0px;
  color: var(--coolor16);
}

.ant-input-number-affix-wrapper,
.ant-input-number-input-wrap,
.ant-input-number-input {
  background-color: var(--coolor1) !important;
  color: var(--coolor16) !important;
  border: 1px solid var(--coolor5);
  border-radius: 0px !important;
}

.ant-input-number:hover {
  border-color: var(--coolor20);

  border-radius: 0px !important;
}

.ant-input-number .ant-input-number-handler-wrap,
.ant-input-number {
  background: var(--coolor3);
  border-radius: 0px !important;
}

.ant-input-number .ant-input-number-handler-wrap:hover {
  color: var(--coolor16);
}

.ant-input-number:focus,
:where(.css-dev-only-do-not-override-1n7nwfa).ant-input-number-focused {
  border-color: var(--coolor20);
  box-shadow: 0 0 0 2px rgb(5 145 255 / 10%);
  border-inline-end-width: 1px;
  border-radius: 0px !important;
  outline: 0;
}

.ant-input-number .ant-input-number-handler:hover .ant-input-number-handler-up-inner,
:where(.css-dev-only-do-not-override-1n7nwfa).ant-input-number .ant-input-number-handler:hover .ant-input-number-handler-down-inner {
  color: var(--coolor20);
}

.ant-slider:hover .ant-slider-track {

  background-color: var(--coolor19);
}

.ant-slider .ant-slider-track:hover {
  background-color: var(--coolor20);
}

.ant-slider .ant-slider-track {
  background-color: var(--coolor19);
}

.ant-slider .ant-slider-handle:active::after {
  box-shadow: 0 0 0 5px var(--coolor20) !important;
}

.ant-slider .ant-slider-handle::after {
  background-color: var(--coolor5);
  box-shadow: 0 0 0 2px var(--coolor20) !important;
}

.ant-slider .ant-slider-handle:hover::after,
.ant-slider .ant-slider-handle:active::after,
.ant-slider .ant-slider-handle:focus::after {
  box-shadow: 0 0 0 4px var(--coolor20) !important;
}

/* select */
.ant-select-dropdown {
  background-color: var(--coolor3) !important;
}

.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: var(--coolor6);
}

.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector,
.ant-select-focused.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
  border-color: var(--coolor19);
  box-shadow: none !important;
  outline: none !important;
}

.ant-select-disabled,
.ant-select-selector {
  background-color: var(--coolor1) !important;
  border-radius: 0 !important;
  border: 1.5px solid var(--coolor5) !important;
  color: var(--coolor16) !important;
}

.ant-input-number-affix-wrapper:focus,
.ant-input-number-affix-wrapper-focused {
  background-color: var(--coolor2);
}

.ant-select-dropdown,
.ant-select-item,
.ant-select-selector {
  border-radius: 0px !important;
}

/* checkbox */
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--coolor19);
  border: 1px solid var(--coolor20);
}

/* pdf */
.rpv-toolbar {
  align-items: center !important;
  display: flex !important;
  width: 100% !important;
  overflow-x: scroll !important;
}

.rpv-default-layout__sidebar {
  display: flex !important;
  padding-top: 60px !important;
}

.rpv-default-layout__toolbar {
  height: 60px !important;
}

.rpv-default-layout__body {
  padding-top: 60px !important;
}

/* drawers */
.ant-drawer-title,
.ant-drawer-close {
  color: var(--coolor16) !important;
}

.ant-drawer-content {
  background: var(--coolor2) !important;
}

/* table */
.ant-tabs-tabpane .ant-tabs-tabpane-active {
  min-height: 750px;
}
.ant-table-container table > thead > tr:first-child > :first-child, .ant-table-container table > thead > tr:first-child > :last-child {
  border-start-start-radius: 0px!important;
  border-start-end-radius: 0px!important;
}
.ant-table-wrapper table {
  border-radius: 0px!important;
}
.ant-table-wrapper .ant-table-container,.ant-table-wrapper .ant-table .ant-table-header {
  border-start-start-radius: 0px!important;
  border-start-end-radius: 0px!important;
  border-radius: 0px!important;
}
.pvtDropdownMenu {
  border: 1px solid var(--coolor5) !important;
  position: absolute;
  width: 100%;
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid var(--coolor20) !important;
  box-sizing: border-box;
}

.pvtDropdownValue {
  background-color: var(--coolor1);
  padding: 10px !important;
}

.pvtDropdownValue:hover {

  background-color: var(--coolor5) !important;
}

.pvtDropdownValue.pvtDropdownActiveValue {
  background-color: var(--coolor4) !important;
}

.ant-table-wrapper {
  border: 1px solid var(--coolor3);
  background-color: transparent !important;
}

.ant-table-wrapper .ant-table,
.ant-table-wrapper:hover .ant-table {
  background-color: var(--coolor1);
}

.ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters:hover {
  background: var(--coolor7);
}

.ant-table-wrapper .ant-table-tbody>tr.ant-table-placeholder:hover>td {
  background: var(--coolor1);
}

.ant-table-wrapper .ant-table:not(.ant-table-bordered) .ant-table-tbody>tr:last-child>td {
  border-bottom: 1px solid var(--coolor2);
}

.ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-dev-only-do-not-override-1n7nwfa).ant-table-wrapper .ant-table-thead>tr>td {
  color: var(--coolor16);
  background: var(--coolor5);
  border-bottom: 1px solid var(--coolor7);
}

.ant-table-wrapper .ant-table-tbody>tr.ant-table-row-selected>td {
  background: var(--coolor2);
  color: var(--coolor16);
}

.ant-table-wrapper .ant-table-tbody>tr.ant-table-row-selected:hover>td {
  background-color: var(--coolor3);
}

.ant-table-body {
  background-color: var(--coolor2) !important;
}

tr>td {
  border-radius: 0 !important;
}

.ant-tabs-content-holder {
  overflow-x: auto;
}

.ant-table-wrapper td.ant-table-column-sort {
  background: var(--coolor7);
}

.ant-table-wrapper .ant-table-thead th.ant-table-column-sort {
  background: var(--coolor7);
}

.ant-table-wrapper .ant-table-column-sorter-up.active,
:where(.css-dev-only-do-not-override-1n7nwfa).ant-table-wrapper .ant-table-column-sorter-down.active {
  color: var(--coolor20);
}

.ant-table-wrapper .ant-table-column-sorter,
.ant-table-wrapper .ant-table-filter-trigger {
  color: var(--coolor13) !important;
}

.ant-table-wrapper .ant-table-column-sorter,
.ant-table-wrapper .ant-table-filter-trigger:hover {
  color: var(--coolor16) !important;
}

.ant-table-wrapper .ant-table-tbody>tr.ant-table-row:hover>td,
:where(.css-dev-only-do-not-override-1n7nwfa).ant-table-wrapper .ant-table-tbody>tr>td.ant-table-cell-row-hover {
  background: var(--coolor1) !important;
}

.ant-table-wrapper .ant-table:not(.ant-table-bordered) .ant-table-tbody>tr>td {
  border-top: 1px solid var(--coolor1);
  border-bottom: transparent;
}

.pvtAxisContainer,
.pvtVals {
  background-color: var(--coolor1) !important;
  border-color: var(--coolor4) !important;
}

.pvtAxisContainer li span.pvtAttr {
  padding: 7.5px 12px !important;
  background-color: var(--coolor2) !important;
  border-radius: 0px !important;
  border-color: var(--coolor5) !important;
  color: var(--coolor16) !important;
}

.pvtTriangle {
  color: var(--coolor15) !important;
}

.pvtRenderers {
  border: 1px solid var(--coolor4) !important;
  background-color: var(--coolor1);
}

.pvtDropdownCurrent {
  padding: 7.5px 12px !important;
  background-color: var(--coolor2) !important;
  border-radius: 0px !important;
  border-color: var(--coolor5) !important;
  color: var(--coolor16);
}

table.pvtTable thead tr th,
table.pvtTable tbody tr th {
  border: 1px solid var(--coolor4) !important;
  background-color: var(--coolor1) !important;
  color: var(--coolor16);
}

/* table context menu */
.contextMenu {
  display: block;
  position: fixed;
  background-color: var(--coolor3);
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  z-index: 1;
}

.contextMenu>p {
  padding: 15px 30px;
  margin: 0;

}

.contextMenu>*:hover {
  background-color: var(--coolor5);
  cursor: pointer;
}

.contextMenu.hidden {
  display: none;
}

/* forms */
.requiredMark:after {
  content: "*";
  display: inline-block;
  color: #ececec;
}

/* navigation */
.ant-layout-sider {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#sidenavLogo {
  background-color: transparent !important;
  height: 200px;
}

.links>* {
  color: var(--coolor16);
}

.links>*:hover {
  background-color: var(--coolor3);
}

.linkContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkContent>p {
  margin: 0;
}

.circle {
  display: flex;
  min-width: 50px;
  height: 50px;
  margin-right: 15px;
  justify-content: center;
  align-items: center;
  transition: font-size 0.3s ease;
}

.circle>* {
  font-size: 24px;
}

.links>*>.linkContent>.circle {
  transition: all 0.3s ease;
}

.links>*:hover>.linkContent>.circle>* {
  transition: font-size 0.3s ease;
  font-size: 24px;
}

.links>*:hover>.linkContent>.circle {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.3s ease;
  background-color: var(--coolor1);
  min-width: 50px;
  height: 50px;
  color: var(--coolor20)
}

#sidenav {
  background: var(--coolor1);
}

#navbarDesktop {
  padding: 0 15px;
  background-color: #fbfbfb00;
}

.ant-layout-sider-children {
  overflow-y: auto;
  height: 100vh !important;
}

::-webkit-scrollbar {
  background-color: var(--coolor5);
  width: 10px;
}

.ant-layout-sider-children::-webkit-scrollbar-thumb,
.theAside::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, var(--coolor17) 0%, var(--coolor20) 99%) !important;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5) !important;
  width: 10px !important;

}

.site-layout {
  transition: margin 0.3s ease;
  min-height: 100vh;
}

.App,
#body {
  height: 100%;
}


@media only screen and (max-width:750px) {
  #logo {
    width: 30px !important;
  }
}

@media only screen and (min-width:750px) {


  .links>*>p {
    margin: 0;
  }

  #sidenav {
    position: fixed;
    min-height: 100vh;
  }

  .site-layout {
    transition: margin 0.3s ease;
    margin-left: 250px;
  }

  .site-layout.collapse {
    transition: margin 0.3s ease;
    margin-left: 80px;
  }

  .links>* {
    width: 100%;
    display: flex;
    padding: 15px;
    align-items: center;
    transition: all 0.3s ease;
  }

  .links>*>svg {
    margin-right: 15px;
    transition: all 0.3s ease;
    font-size: 24px;
  }


  .links.collapse>* {
    width: 100%;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }

  .links.collapse>#sidenavLogo {
    height: 100px !important;
  }

  .links.collapse>*>.linkContent>.circle {
    margin-right: 0;
    transition: all 0.3s ease;
  }

  .links.collapse>*>.linkContent>p {
    display: none;
  }

}

.quoteCreator>h2 {
  width: 100%;
}

.quoteCreator {
  background-color: var(--coolor3);
  border: 1px solid var(--coolor2);
  padding: 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quoteCreatorFormSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quoteCreatorFormSection>*:first-child {
  width: 100%;
}

.quoteCreatorFormSection>* {
  width: 47.5%;
}

.quoteCreatorFormContainer {
  width: 37.5%;
}

.quoteCreatorAddedItems {
  width: 57.5%;
  ;
}

/* companies page */
#companiesPage {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 750px;
}

#companiesPage>*:nth-child(2) {
  width: 78%;
  padding: 35px 0;
  background-color: var(--coolor1);
}

#companiesPage>*:nth-child(1) {
  width: 20%;
}