<html lang="es-MX" data-website-id="2" data-main-object="website.page(7,)" data-is-published="True"
    data-can-publish="True" data-translatable="1" data-view-xmlid="website.homepage" data-viewid="2506"
    data-oe-company-name="Aliado" data-country="MX" data-logged="true" data-browser="chrome,110.0.0.0">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="default_title" content=" Home | Aliado ">
    <meta name="default_description">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Home | Aliado">
    <meta property="og:site_name" content="Aliado">
    <meta property="og:url" content="https://www.alido.com.mx">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/aliado.css">
    <script src="/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.3/dist/js/uikit-icons.min.js"></script>


</head>

<body>


    <div class="uk-position-relative hero-nav">
        <img src="images/arms.jpg" style="width:100%;position: absolute;filter: brightness(0.2);"
            alt="Automatizacion Industrial">
        <div uk-sticky="start: 200; animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent"
            class="uk-sticky uk-sticky-below uk-sticky-fixed"
            style="position: fixed; width: 2474.67px; margin-top: 0px !important; top: 0px;">
            <nav class="uk-navbar-container uk-navbar-sticky">
                <div class="uk-container uk-container-expand">
                    <div uk-navbar="" class="uk-navbar" role="menubar">

                        <div class="uk-navbar-left">

                            <a class="uk-navbar-item uk-logo" href="#" aria-label="Back to Home" tabindex="0"
                                role="menuitem"><img class="logo" src="/images/logo.png"></a>
                        </div>



                        <div class="uk-navbar-right">

                            <ul class="uk-navbar-nav" role="group">
                                <li class="uk-active" role="presentation"><a href="#" tabindex="-1"
                                        role="menuitem">Inicio</a></li>
                                <li role="presentation"><a href="#contactForm" tabindex="-1"
                                        role="menuitem">Contacto</a></li>
                                <!-- <li role="presentation"><a href="/english" tabindex="-1" role="menuitem">English</a> -->
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
        <div class="uk-sticky-placeholder" style="height: 80px; width: 2474.67px; margin: 0px;"></div>
        <div style="position: relative;
        display: flex;
        height: 100%;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 10vw;">
            <div style="width:75%">
                <h1 class="hero-line">
                    Engineering Tecnical Services and Industrial Supplies
                </h1>
                <p class="hero-sub-line">Aliado provides quality enterprise solutions in industrial supplies,
                    engineering services, and enterprise management to large businesses and fortune 500 companies. In
                    the following business sectors: Industrial, IT, Manufacturing, Agriculture, Pharmaceutical, Medical
                    Devices, Finance.</p>
            </div>
        </div>
    </div>
    <div style="text-align:center;padding: 35px;">
        <h2 class="sectionTitle" style=" font-size: 48px;">Solutions</h2>
    </div>
    <div class="servicios" style="
    display: flex;
    justify-content: space-between;

">
        <div class="servicio" style="
    width: 30%;
    padding: 0px;
">
            <img src="/images/ui.jpg" />
            <h3>Servicios de TI</h3>
            <h4>Cutting-edge IT Consulting.</h4>
            <p>Aliado provides cutting-edge IT consulting, development, and integration services. Handling software
                validations, legacy migrations, risk, compliance & resilience management, BI, AI, and the full lifecycle
                of enterprise IT Solutions.</p>
            <a href="#contactForm"><button>Contact</button></a>
        </div>
        <div class="servicio" style="
    width: 30%;
    padding: 0px;
">
            <img src="/images/arms.jpg">
            <h3>Industrial Automation.</h3>
            <h4>Value Added Automation.</h4>
            <p>We provide cost-effective manufacturing and manufacturing automation solutions. With our deep domain
                expertise, we provide value-added solutions in robotics, machine, systems, and factory automation.</p>
            <a href="#contactForm"><button>Contact</button></a>
        </div>
        <div class="servicio" style="
    width: 30%;
    padding: 0px;
">
            <img src="/images/iiot.jpg">
            <h3>Indutrial IOT and Business Intelligence</h3>
            <h4>Extend operational visibility.</h4>
            <p>Around 20% of manufacturing data is never used. And even a smaller percentage is analyzed. We provide
                custom industrial data analysis and IIOT integrations to enable faster, better, smarter business
                decisions.
            </p>
            <a href="#contactForm"><button>Contact</button></a>
        </div>
    </div>


    <div class="servicios" style="
    display: flex;
    justify-content: space-between;
">
        <div class="servicio" style="
    width: 30%;
    padding: 0px;
">
            <img src="/images/validation.jpg">
            <h3>Process, System and Machine Validations.</h3>
            <h4>Assurance in Regulatory Compliance.</h4>
            <p>
                We are qualified in the commissioning and qualification of industrial installations in the pharma,
                biotech, healthcare and food manufacturing sectors . We also implement industry best practices to ensure
                the compliance of your processes in accordance with FDA, EU, or other regulatory standards.
            </p>
            <a href="#contactForm"><button>Contact</button></a>
        </div>
        <div class="servicio" style="
    width: 30%;
    padding: 0px;
">
            <img src="/images/dataCenter.jpg">
            <h3>Network Infrastructure and Data Centers.</h3>
            <h4>Cost Effective Data Center and Cloud Infrastructure.</h4>
            <p>
                We ensure the security and performance of your enterprise network and your data centers, by developing a
                resilient infrastructure with robust workload capacity for the most demanding business needs.
            </p>
            <a href="#contactForm"><button>Contact</button></a>
        </div>
        <div class="servicio" style="
    width: 30%;
    padding: 0px;
">
            <img src="/images/ui.jpg">
            <h3>Industrial Supplies</h3>
            <h4>Efficient solutions in quality industrial supplies.</h4>
            <p>
                Steel and Iron, electric material, material handling, packaging, automation and industrial controls,
                abrasives, safety equipment, industrial products, machinery, measuring, general tooling, seals, paint
                and floors.
            </p>
            <a href="#contactForm"><button>Contact</button></a>
        </div>
    </div>
    <div class="tag">
        <p>
            We are helping comanies<b>achieve amazing results solving difficult problems</b>.
        </p>
        <a href="#contactForm"><button>Contact Us</button></a>
    </div>
    <footer>
        <div class="information">
            <div class="about">
                <h2>About Us</h2>
                <p>
                    We believe that profesionalsm is to deliver quality solutions. We have the talent forged only by
                    years of solving engineering challenges, and when it comes to customer service we don not just go
                    the extra mile, we go further.
                </p>
                <p>
                    Aliado was born from the desire to facilitate systems, products, and processes. Our mantra is to
                    resolve problems others ignore.
                    <b>Profesionalsm. Expertise. Service</b>
                </p>
            </div>
            <div class="location">
                <h2>Ubicación</h2>
                <div class="site">
                    <h3>
                        Emdemex LLC - El Paso, Texas
                    </h3>
                    <p>
                        11436 Rojas Dr 17-b,
                        El Paso TX 79936
                        United States
                    </p>
                    <h2>

                        Email: sales@Aliado.com
                    </h2>
                </div>
                <div class="site">
                    <h3>
                        Aliado Ingeniería Continua Mexicana S. de R. L. de C. V. - Ciudad Juárez, Chihuahua
                    </h3>
                    <p>
                        1307 Mariano Jimenez,
                        Ciudad Juárez Chihuahua 32563
                        México
                    </p>
                    <h2>

                        Correo Electrónico: ventas@aliado.com.mx
                    </h2>
                </div>
            </div>
        </div>
        <div class="contact" id="contactForm">
            <div id="phoneError">Número celular inválido.</div>
            <div class="inputContainer">
                <label for="name">Nombre</label>
                <input id="name" placeholder="E.g. Jose" />
            </div>
            <div class="inputContainer">
                <label for="cel">Número de teléfono</label>
                <input id="cel" type="number" placeholder="6561234576" />
            </div>
            <button id="callMe">
                <div uk-spinner id="loader"></div>
                Quiero que me contacten
            </button>
        </div>
    </footer>
    <div
        style="font-weight: bold; color:white;background-color: black; width: 100%;text-align: center;padding: 0 25px;">
        Aliado © All Rights Reserved. <%-new Date().getFullYear()%>
    </div>
</body>
<script>
    const button = document.getElementById("callMe")
    const loader = document.getElementById("loader")
    const submit = async () => {

        const phone = document.getElementById("cel").value
        const name = document.getElementById("name").value
        const isTenDigitPhone = /^(?:\d{2}-\d{3}-\d{3}-\d{3}|\d{10})$/.test(phone)
        const errorField = document.getElementById("phoneError")
        if (isTenDigitPhone) {
            loader.classList.add("show")
            button.setAttribute("disabled", true)
            errorField.classList.remove("show")
            let response = await fetch('/callMe', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify({ phone, name })
            });

            let result = await response.json();
            if (result.status) {
                UIkit.notification({ message: 'Estaremos en contacto proto.', pos: 'top-center', status: "success" })
            } else {
                UIkit.notification({ message: 'Error', pos: 'top-center', status: "danger" })
            }
            loader.classList.remove("show")
            button.removeAttribute("disabled")
        } else {
            errorField.classList.add("show")
        }


    }
    button.addEventListener("click", submit)
</script>

</html>