<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
    <style>
        * {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            letter-spacing: 1.5px;
            box-sizing: border-box;
        }

        html {
            overflow-x: hidden;
            overflow-y: hidden;
        }

        .inputContianer {
            display: flex;
            width: 100%;
            margin-bottom: 15px;
            flex-direction: column;
        }

        .inputContianer>input {
            height: 30px;
            padding-left: 15px;
            background-color: #f6f6f6;
            outline: none;
            border: 1px solid #d0d0d0;
        }

        #body {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
        }

        #login {
            padding: 5vh 75px 10vh;
            min-width: 40vw;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: -1px 2px 8px 0px rgba(162, 162, 162, 0.75);
            -webkit-box-shadow: -1px 2px 8px 0px rgba(162, 162, 162, 0.75);
            -moz-box-shadow: -1px 2px 8px 0px rgba(162, 162, 162, 0.75);
        }

        #submit {
            margin-top: 10px;
            cursor: pointer;
            color: #f7f7f7;
            background-color: #e62222;
            transition: background-color 0.3s ease;
        }

        #submit:hover {
            background-color: #ff0000;
            transition: background-color 0.3s ease;
        }

        #background {
            background-image: url("/bg.png");
            background-size: cover;
        }

        .blur {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(0px);
            background: #ffffffba;
            z-index: 0;
        }

        #login>* {
            z-index: 1;
        }

        #errorContainer {
            display: none;
            margin-bottom: 15px;
        }

        #errorContainer.show {
            display: block;
            width: 100%;
            padding: 7.5px 30px;
            background-color: white;
            border: 2px solid #ff5555;
        }

        #errorContainer.show>p {
            color: ff5555;
        }

        @media only screen and (max-width:750px) {
            #login {
                padding: 0 2vw;
                box-shadow: none !important;
                width: 85% !important;
            }

            .blur {
                background-color: none;
                background: none;
            }

            #body {
                width: unset;
                display: flex;
                justify-content: center;
                align-items: baseline;
                height: 100vh;
                margin-top: 10vh;

            }

            .loginBranding {
                display: flex;
                width: 100%;
                padding: 50px 0;
                flex-wrap: wrap;
                justify-content: center;
            }

            .loginBranding>div {
                width: 100% !important;
                text-align: center;
            }

            .loginBranding>div>h1 {
                font-size: 18px !important;
            }

            .loginBranding>div>h2 {
                font-size: 12px !important;
            }
        }

        /*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/login.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
        .login_main_login__UlVxl {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            min-height: 100vh;
        }

        .login_main_login__UlVxl>* {
            padding: 30px;
        }

        .login_set_up_container__XJ_07 {
            border: 1px solid #e1e1e1;
            height: auto;
            margin: auto;
            border-radius: 35px;
        }

        .login_set_up_container__XJ_07>.login_login_form__m3TIU>.login_login_input__bhw4b>input {
            border: 1px solid #000 !important;
            color: #000 !important;
        }

        .login_set_up_container__XJ_07>.login_login_form__m3TIU>.login_login_input__bhw4b>label {
            color: #000 !important;
        }

        .login_set_up_container__XJ_07>.login_login_form__m3TIU>div>button {
            background-color: #000 !important;
            color: #fff !important;
        }

        .login_welcome_container__StIBV {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 25%;
            padding-top: 215px;
            background-color: white;
            z-index: 2;
        }

        .login_welcome_container__StIBV>h1 {
            font-size: 48px;
            font-weight: 200;
        }

        .login_login_form__m3TIU {
            display: flex;
            flex-direction: column;
            gap: 35px;
        }

        .login_login_button__pb0Jw {
            border: 0;
            text-align: center;
            height: 48px;
            width: 180px;
            border-radius: 48px;
            background-color: #000;
            color: #fff;
            font-weight: bold;
        }

        .login_login_input__bhw4b {
            display: flex;
            flex-direction: column;
        }

        .login_login_input__bhw4b>input {
            border: 2px solid #000;
            border-radius: 25px;
            height: 48px;
        }

        .login_login_right_content__juOF5 {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #000;
            width: 75%;
            padding: 150px;
            z-index: 1;
        }

        .login_login_title_subtitle__56mmb {
            z-index: 1;
        }

        .login_login_title_subtitle__56mmb>h1 {
            font-size: 120px;
            color: #fff;
            margin: 0;
            width: 60%;
        }


        .login_login_title_subtitle__56mmb>p {
            color: #fff;
            font-weight: bold;
            font-size: 24px;
        }

        .login_login_shapes__fK9MR>* {
            position: absolute;
        }

        .login_login_shapes__fK9MR>*:nth-child(1) {
            bottom: -42%;
            left: -20%;
            height: 150%;
            width: 150%;
            transform: rotate(220deg);
        }

        .login_login_shapes__fK9MR>*:nth-child(2) {
            right: 0;
        }

        .login_login_shapes__fK9MR>*:nth-child(3) {
            left: -80px;
            top: 25px;
        }

        .login_login_shapes__fK9MR>*:nth-child(4) {
            top: 0;
            right: 50px;
        }

        @media only screen and (max-width:1680px) {
            .login_login_title_subtitle__56mmb>h1 {
                font-size: 68px;
            }
        }

        @media only screen and (max-width:1298px) {
            .login_login_title_subtitle__56mmb {
                display: none;
            }

            .login_main_login__UlVxl {
                position: relative;
            }

            .login_login_right_content__juOF5,
            .login_welcome_container__StIBV {
                width: 100%;
                position: absolute;
                height: 100%;
            }

            .login_welcome_container__StIBV {
                z-index: 2;
                background-color: transparent;
            }

            .login_welcome_container__StIBV::after {
                z-index: 1;
                content: '';
                height: 100%;
                width: 100%;
                background-color: #00000091;
                position: absolute;
                top: 0;
                left: 0;
                -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px)
            }

            .login_welcome_container__StIBV>h1 {
                color: #fff;
            }

            .login_login_form__m3TIU,
            .login_welcome_container__StIBV>h1 {
                z-index: 2;
            }

            .login_login_input__bhw4b>* {
                color: #fff;
            }

            .login_login_input__bhw4b>input {
                background-color: transparent;
                border-color: #fff;
            }

            .login_login_button__pb0Jw {
                background-color: #fff;
                color: #000;
            }

        }
    </style>
</head>

<body id="background">
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preload" href="/_next/static/media/c9a5bc6a7c948fb0-s.p.woff2" as="font" crossorigin=""
            type="font/woff2">
        <link rel="stylesheet" href="/_next/static/css/app/layout.css?v=1696883626363"
            data-precedence="next_static/css/app/layout.css">
        <link rel="stylesheet" href="/_next/static/css/app/page.css?v=1696883626363"
            data-precedence="next_static/css/app/page.css">
        <link rel="preload" href="/_next/static/chunks/webpack.js?v=1696883626363" as="script" fetchpriority="low">
        <script src="/_next/static/chunks/main-app.js?v=1696883626363" async=""></script>
        <link rel="preload" href="/login.js" as="script">
        <title>Clinic OS</title>
        <meta name="description" content="Un potenciador de ventas para clinicas cosmeticas">
        <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="256x256">
        <meta name="next-size-adjust">
        <script src="/_next/static/chunks/polyfills.js" nomodule=""></script>
        <link id="nordvpn-contentScript-extension-fonts" rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato">
    </head>

    <body id="body" class="__className_e66fe9">
        <main class="login_main_login__UlVxl">
            <div class="login_welcome_container__StIBV">
                <h1>Bienvenido de vuelta</h1>
                <div class="login_login_form__m3TIU">
                    <div id="errorContainer">Usuario y/o contraseña incorrectors</div>
                    <div class="login_login_input__bhw4b"><label for="username">Usuario</label><input id="username">
                    </div>
                    <div class="login_login_input__bhw4b"><label for="password">Contraseña</label><input id="password" type="password">
                    </div>
                    <div style="text-align:right"><button id="submit" class="login_login_button__pb0Jw">Entrar</button>
                    </div>
                </div>
            </div>
            <div class="login_login_right_content__juOF5">
                <div class="login_login_title_subtitle__56mmb">
                    <h1>Sistema potenciador de ventas</h1>
                    <p>Notificaciones|Publicidad|Clientes|Inteligencia</p>
                </div>
                <div class="login_login_shapes__fK9MR"><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 500 500" width="100%" id="blobSvg" transform="rotate(-115)">
                        <defs>
                            <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                                <stop offset="0%" style="stop-color:rgb(215, 0, 255)"></stop>
                                <stop offset="100%" style="stop-color:rgb(0, 215, 255)"></stop>
                            </linearGradient>
                        </defs>
                        <path id="blob" fill="url(#gradient)">
                            <animate attributeName="d" dur="17000ms" repeatCount="indefinite"
                                values="M469.34657,320.38487Q443.8468,390.76973,373.53877,402.1156Q303.23073,413.46147,238.88463,448.30757Q174.53853,483.15367,122.76833,431.6929Q70.99814,380.23213,76.84563,315.11607Q82.69313,250,78.9227,186.3071Q75.15227,122.6142,131.92223,91.73003Q188.6922,60.84587,253.2305,51.539Q317.7688,42.23213,359.5759,90.92433Q401.383,139.61653,448.11467,194.80827Q494.84633,250,469.34657,320.38487Z;M410.95278,296.31131Q377.83016,342.62262,346.59668,396.40799Q315.3632,450.19336,253.66275,438.70512Q191.9623,427.21687,143.72172,394.79004Q95.48115,362.3632,86.24057,306.1816Q77,250,74.51885,185.3632Q72.0377,120.72639,123.0377,68.91975Q174.0377,17.1131,239.88914,47.47163Q305.74057,77.83016,366.40332,99.75233Q427.06607,121.67451,435.57074,185.83725Q444.0754,250,410.95278,296.31131Z;M423.38828,307.00416Q406.39243,364.00831,353.55217,384.57202Q300.71191,405.13573,242.06787,430.50416Q183.42382,455.87258,116.5554,425.63666Q49.68697,395.40075,58.87581,322.70037Q68.06464,250,86.66067,197.31625Q105.2567,144.63251,148.86843,108.53648Q192.48015,72.44045,252.10019,66.13989Q311.72022,59.83933,378.54063,84.21929Q445.36105,108.59925,442.87258,179.29963Q440.38412,250,423.38828,307.00416Z;M439.43806,316.51312Q432.44085,383.02623,370.39398,407.14258Q308.3471,431.25893,240.13979,459.78516Q171.93248,488.31139,132.30301,426.26451Q92.67355,364.21763,63.21484,307.10882Q33.75613,250,44.06194,178.90151Q54.36774,107.80301,118.67355,75.31613Q182.97935,42.82924,240.60882,72.66602Q298.23828,102.50279,368.10882,107.87054Q437.97935,113.23828,442.20731,181.61914Q446.43527,250,439.43806,316.51312Z;M437.48517,301.93698Q392.82947,353.87396,357.50371,413.21131Q322.17795,472.54867,247.51112,479.51159Q172.8443,486.47452,129.54819,427.64458Q86.25209,368.81464,81.57785,309.40732Q76.90361,250,83.86283,191.93327Q90.82205,133.86654,141.98146,104.152Q193.14087,74.43745,247.01483,83.88926Q300.88878,93.34106,355.51112,113.62234Q410.13346,133.90361,446.13717,191.95181Q482.14087,250,437.48517,301.93698Z;M428.88107,298.41731Q382.87896,346.83463,343.6411,381.94757Q304.40324,417.06052,249.73188,417.66327Q195.06052,418.26602,121.90324,407.33463Q48.74595,396.40324,42.90922,323.20162Q37.07249,250,50.04223,182.03624Q63.01197,114.07249,129.2076,98.49191Q195.40324,82.91133,251.0746,78.83673Q306.74595,74.76214,356.50598,105.64321Q406.26602,136.52427,440.5746,193.26214Q474.88318,250,428.88107,298.41731Z;M453.70516,317.0107Q433.36186,384.02139,362.52423,381.146Q291.6866,378.27061,242.8433,399.93801Q194,421.60541,117.08118,412.14317Q40.16237,402.68093,64.29201,326.34046Q88.42165,250,109.0107,206.32693Q129.59975,162.65387,148.64317,78.76495Q167.6866,-5.12397,241.8433,20.74072Q316,46.60541,350.8433,99.17023Q385.6866,151.73505,429.86753,200.86753Q474.04846,250,453.70516,317.0107Z;M402.82336,294.74662Q372.52122,339.49324,339.45366,380.77461Q306.3861,422.05598,251.70463,416.9165Q197.02317,411.77702,159.66506,377.28619Q122.30695,342.79537,72.75579,296.39768Q23.20463,250,37.88851,178.24662Q52.57238,106.49324,117.0304,72.97924Q181.48842,39.46525,238.53957,73.79537Q295.59073,108.12549,332.49083,135.50917Q369.39092,162.89286,401.2582,206.44643Q433.12549,250,402.82336,294.74662Z;M403.5,294Q372,338,343,393Q314,448,254,435.5Q194,423,138,397.5Q82,372,88,311Q94,250,86,187.5Q78,125,134,95.5Q190,66,253,57Q316,48,362,91.5Q408,135,421.5,192.5Q435,250,403.5,294Z;M424.84079,321.86371Q447.86386,393.72743,384.56836,431.15935Q321.27286,468.59128,248.86371,472.84107Q176.45457,477.09086,148.84107,410.1135Q121.22757,343.13614,67.95457,296.56807Q14.68157,250,76.45485,209.5685Q138.22813,169.13699,166.2505,123.59142Q194.27286,78.04585,249.70464,79.81828Q305.13643,81.59072,362.47721,103.93179Q419.818,126.27286,410.81786,188.13643Q401.81772,250,424.84079,321.86371Z;M469.34657,320.38487Q443.8468,390.76973,373.53877,402.1156Q303.23073,413.46147,238.88463,448.30757Q174.53853,483.15367,122.76833,431.6929Q70.99814,380.23213,76.84563,315.11607Q82.69313,250,78.9227,186.3071Q75.15227,122.6142,131.92223,91.73003Q188.6922,60.84587,253.2305,51.539Q317.7688,42.23213,359.5759,90.92433Q401.383,139.61653,448.11467,194.80827Q494.84633,250,469.34657,320.38487Z">
                            </animate>
                        </path>
                    </svg>

            </div>
        </main>
    </body>

    </html>




</body>

</html>
<script>
    const submit = async () => {
        const username = document.getElementById("username").value
        const password = document.getElementById("password").value
        if (!username || !password) {
            document.getElementById("errorContainer").classList.add("show");
            return
        }
        try {
            const response = await fetch("/login", {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json'
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                body: JSON.stringify({ username, password }) // body data type must match "Content-Type" header
            }).then(res => { return res.json() }).then((data) => {
                if (data.status) {
                    document.getElementById("errorContainer").classList.remove("show");
                    window.location.replace("/crm")
                } else {
                    document.getElementById("errorContainer").classList.add("show");
                }
            })

        } catch (error) {

            if (error.message) {
                console.log(error.message);
            } else {
                console.log(error);
            }

        }
    }
    document.getElementById("submit").addEventListener("click", submit, false)
</script>