<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
    <style>
        * {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            letter-spacing: 1.5px;
            box-sizing: border-box;
        }

        html {
            overflow-x: hidden;
            overflow-y: hidden;
        }

        .inputContianer {
            display: flex;
            width: 100%;
            margin-bottom: 15px;
            flex-direction: column;
        }

        .inputContianer>input {
            height: 30px;
            padding-left: 15px;
            background-color: #f6f6f6;
            outline: none;
            border: 1px solid #d0d0d0;
        }

        #body {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
        }

        #login {
            padding: 5vh 75px 10vh;
            min-width: 40vw;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: -1px 2px 8px 0px rgba(162, 162, 162, 0.75);
            -webkit-box-shadow: -1px 2px 8px 0px rgba(162, 162, 162, 0.75);
            -moz-box-shadow: -1px 2px 8px 0px rgba(162, 162, 162, 0.75);
        }

        #submit {
            margin-top: 10px;
            cursor: pointer;
            color: #f7f7f7;
            background-color: #e62222;
            transition: background-color 0.3s ease;
        }

        #submit:hover {
            background-color: #ff0000;
            transition: background-color 0.3s ease;
        }

        #background {
            background-image: url("/bg.png");
            background-size: cover;
        }

        .blur {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(0px);
            background: #ffffffba;
            z-index: 0;
        }

        #login>* {
            z-index: 1;
        }

        #errorContainer {
            display: none;
            margin-bottom: 15px;
        }

        #errorContainer.show {
            display: block;
            width: 100%;
            padding: 7.5px 30px;
            background-color: white;
            border: 2px solid #ff5555;
        }

        #errorContainer.show>p {
            color: ff5555;
        }

        @media only screen and (max-width:750px) {
            #login {
                padding: 0 2vw;
                box-shadow: none !important;
                width: 85%!important;
            }

            .blur {
                background-color: none;
                background: none;
            }

            #body {
                width: unset;
                display: flex;
                justify-content: center;
                align-items: baseline;
                height: 100vh;
                margin-top: 10vh;

            }

            .loginBranding {
                display: flex;
                width: 100%;
                padding: 50px 0;
                flex-wrap: wrap;
                justify-content: center;
            }

            .loginBranding>div {
                width: 100% !important;
                text-align: center;
            }

            .loginBranding>div>h1 {
                font-size: 18px !important;
            }

            .loginBranding>div>h2 {
                font-size: 12px !important;
            }
        }
    </style>
</head>

<body id="background">
    <div id="body">
        <div id="login">
            <div class="blur"></div>
            <div class="loginBranding"
                style="display: flex;justify-content: space-between; width: 100%; padding: 50px 0;">
              
                <div style="width: 75%;">
                    <h1 style="font-size: 32px;color: #282828; padding: 0;">Intranet de Ventas ©</h1>
                    <h2 style="font-size: 16px; color: #a7a7a7; padding: 0;"><%-title%></h2>
                </div>
            </div>
            <div id="errorContainer">
                <p>Usuario y/o contraseña incorrectos</p>
            </div>
            <div class="inputContianer">
                <label>Usuario</label>
                <input id="username">
            </div>
            <div class="inputContianer" style="
    margin-bottom: 0;
">
                <label>Contraseña</label>
                <input id="password" type="password">
            </div>
            <div style="text-align: right;width: 100%;margin-bottom: 15px;padding: 5px 0;">
                <label style="width: fit-content;font-size: 14px;">Recuperar contraseña</label>
            </div>
            <div class="inputContianer">
                <button id="submit" style=" border: none; height: 30px; font-weight: bold;">
                    Entrar
                </button>
            </div>
        </div>
    </div>



</body>

</html>
<script>
    const submit = async () => {
        const username = document.getElementById("username").value
        const password = document.getElementById("password").value
        if (!username || !password) {
            document.getElementById("errorContainer").classList.add("show");
            return
        }
        try {
            const response = await fetch("/login", {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json'
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                body: JSON.stringify({ username, password }) // body data type must match "Content-Type" header
            }).then(res => { return res.json() }).then((data) => {
                if (data.status) {
                    document.getElementById("errorContainer").classList.remove("show");
                    window.location.replace("/crm")
                } else {
                    document.getElementById("errorContainer").classList.add("show");
                }
            })

        } catch (error) {

            if (error.message) {
                console.log(error.message);
            } else {
                console.log(error);
            }

        }
    }
    document.getElementById("submit").addEventListener("click", submit, false)
</script>