<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <style>
        * {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            letter-spacing: 1.5px;
            box-sizing: border-box;
        }

        html {
            overflow-x: hidden;
            overflow-y: hidden;
        }

        .inputContianer {
            display: flex;
            width: 100%;
            margin-bottom: 15px;
            flex-direction: column;
        }

        .inputContianer>input {
            height: 30px;
            padding-left: 15px;
            background-color: #f6f6f6;
            outline: none;
            border: 1px solid #d0d0d0;
        }

        #body {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
        }

        #login {
            min-width: 100%;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            height: 100%;
            flex-wrap: wrap;
        }

        #submit {
            margin-top: 10px;
            cursor: pointer;
            color: #f7f7f7;
            background-color: #e62222;
            transition: background-color 0.3s ease;
        }

        #submit:hover {
            background-color: #ff0000;
            transition: background-color 0.3s ease;
        }

        #background {
            background-image: url("/bg.png");
            background-size: cover;
            margin: 0;
        }

        .blur {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(0px);
            background: #ffffffba;
            z-index: 0;
        }

        #login>* {
            z-index: 1;
            padding: 0 2vw;
        }

        #login>*:first-child {
            width: 50%;
            height: 100%;
            background-color: #282828c9;
            display: flex;
            align-items: center;
        }

        #errorContainer {
            display: none;
            margin-bottom: 15px;
        }

        #errorContainer.show {
            display: block;
            width: 100%;
            padding: 7.5px 30px;
            background-color: #681111;
            color: white;
            border: 2px solid #ff0000;
        }

        #errorContainer.show>p {
            color: ff5555;
        }

        ul>li{
            padding: 15px 0;
            margin: 15px;
            background-color: white;

            box-shadow: -1px 2px 8px 0px rgba(216, 216, 216, 0.75);
            -webkit-box-shadow: -1px 2px 8px 0px rgba(216, 216, 216, 0.75);
            -moz-box-shadow: -1px 2px 8px 0px rgba(216, 216, 216, 0.75);
        }
        @media only screen and (max-width:750px) {
            #login {
                padding: 0 2vw;
                box-shadow: none !important;
                width: 100% !important;
            }

            #login>* {
                width: 100% !important;
            }

            .blur {
                background-color: none;
                background: none;
            }

            #body {
                width: unset;
                display: flex;
                justify-content: center;
                align-items: baseline;
                height: 100vh;
                margin-top: 10vh;

            }

            .loginBranding {
                display: flex;
                width: 100%;
                padding: 50px 0;
                flex-wrap: wrap;
                justify-content: center;
            }

            .loginBranding>div {
                width: 100% !important;
                text-align: center;
            }

            .loginBranding>div>h1 {
                font-size: 18px !important;
            }

            .loginBranding>div>h2 {
                font-size: 12px !important;
            }

            .fields {
                height: 150px;
                overflow-y: auto;
            }
        }
    </style>
</head>

<body id="background">
    <div id="body">
        <div class="blur"></div>
        <div id="login">
            <div style="
                width: 50%;
    background-color: #ffffff00;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15vh;
                ">
                <div style="width: 75%; text-align: center;">
                    <h1 style="font-size: 32px;color: #000000; padding: 0;">Iniciar Intranet de Ventas</h1>
                    <p style="color:rgb(0, 0, 0)">
                        En esta interfaz de configuración tienes que realizar la configuración inicial de tu CRM para
                        esto necesitas llenar la siguiente información:
                    </p>
                    <ul style="color:rgb(0, 0, 0);list-style: none;margin: 0;padding: 0;">
                        <li>Nombre y dirección de tu empresa</li>
                        <li>Tu nombre y apellido</li>
                        <li>Tu usuario y contraseña</li>
                    </ul>
                </div>
                <div id="errorContainer">
                    Porfavor completa todos los campos
                </div>
            </div>
            <div class="fields" style="width:50%">
                <div class="inputContianer">
                    <label>Nombre</label>
                    <input id="user_name">
                </div>
                <div class="inputContianer">
                    <label>Apellido</label>
                    <input id="user_last_name">
                </div>
                <div class="inputContianer">
                    <label>Nombre de tu empresa</label>
                    <input id="company_name">
                </div>
                <div class="inputContianer">
                    <label>Dirección de tu empresa</label>
                    <input id="company_address">
                </div>
                <div class="inputContianer">
                    <label>Identificador Fiscal</label>
                    <input id="tax_id">
                </div>
                <div class="inputContianer">
                    <label>Usuario</label>
                    <input id="username">
                </div>
                <div class="inputContianer">
                    <label>Contraseña</label>
                    <input id="password" type="password">
                </div>
                <div class="inputContianer">
                    <button id="submit" style=" border: none; height: 30px; font-weight: bold;">
                        Iniciar
                    </button>
                </div>
            </div>

        </div>
    </div>



</body>

</html>
<script>
    const submit = async () => {
        const body = {
            username: document.getElementById("username").value,
            password: document.getElementById("password").value,
            user_name: document.getElementById("user_name").value,
            tax_id: document.getElementById("tax_id").value,
            user_last_name: document.getElementById("user_last_name").value,
            company_address: document.getElementById("company_address").value,
            company_name: document.getElementById("company_name").value
        }
        if (!body.username.length === 0 || !body.password.length === 0 || !body.company_address.length === 0 || !body.company_name.length === 0 || !body.user_last_name.length === 0 || !body.user_name.length === 0) {
            document.getElementById("errorContainer").classList.add("show");
        } else {
            try {
                const response = await fetch("/setUp", {
                    method: 'POST', // *GET, POST, PUT, DELETE, etc.
                    mode: 'cors', // no-cors, *cors, same-origin
                    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                    credentials: 'same-origin', // include, *same-origin, omit
                    headers: {
                        'Content-Type': 'application/json'
                        // 'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    redirect: 'follow', // manual, *follow, error
                    referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                    body: JSON.stringify(body) // body data type must match "Content-Type" header
                }).then(res => { return res.json() }).then((data) => {
                    if (data.status) {
                        document.getElementById("errorContainer").classList.remove("show");
                        window.location.replace("/")
                        return
                    }
                    if (data.status == false) {
                        alert(data.message);
                    } else {
                        alert("Error al iniciar aplicación")
                    }
                }).catch((err) => {
                    if (error.status == false) {
                        alert(error.message);
                    } else {
                        alert("Error al iniciar aplicación")
                    }
                })

            } catch (error) {

                if (error.status == false) {
                    alert(error.message);
                } else {
                    alert("Error al procesar formulario")
                    console.log(error);
                }

            }
        }
    }
    document.getElementById("submit").addEventListener("click", submit, false)
</script>