.clientsContainer{
    display: flex;
    justify-content: space-between;
}
.clientsContainer>*:nth-child(1){
    width:25%;
}
.clientsContainer>*:nth-child(2){
    width: 70%;
    padding: 25px;
    background-color: var(--coolor3);
}
